//@import url(http://fonts.googleapis.com/css?family=Condiment|Yesteryear|Herr+Von+Muellerhoff|Kaushan+Script|Ubuntu+Mono|Cutive+Mono|Nova+Mono);

@media only screen and (max-width: 1200px) {
    #chart {
        display: none
    }
}

.prompt {
    border: 1px solid steelblue;
    width: 100px;
    padding: 10px;
    z-index: 2;
    background: white;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    left: 50%;
    margin-left: -50px;
}
.extra {
    color: #5c4962;
}
.hashtag {
    color: rgb(150, 0, 0);
    text-decoration: none;
}
.all.reporter {
    padding: 0 20px;
}
.time {
    display: inline-block;
    min-width: 2em;
}
body {
    /*
            font-family: 'Condiment', cursive;
            font-family: 'Yesteryear', cursive;
            font-family: 'Herr Von Muellerhoff', cursive;
   */
    font-family: 'Ubuntu Mono', cursive;
    padding: 7vh 6vw;
    background-color: #3a1f53;
    color: #efef70;
    fill: #efef70;
}
#chart .connection {
    stroke: #efef70;
}
a, a:visited {
    color: #efef70;
}
input {
    font-family: 'Ubuntu Mono', sans-serif;
/*
        font-family: 'Cutive Mono', serif;
        font-family: 'Nova Mono', cursive;
*/
}
.folders {
    padding: 2em 0;
}
.folders a {
    margin: 1em;
}
